form {
  margin-top: 50px;
}

.form {
  text-align: center;
  width: 60%;
  border: 1px solid #bbb;
  border-radius: 10px;
  margin: auto;
  padding: 0 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

input[type="search"] {
  width: min(100%, 600px);
  height: 5vh;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  border: none;
}

input[type="search"]::placeholder {
  color: #bbb;
}

button[type="submit"] {
  border: none;
  background: transparent;
  cursor: pointer;
  opacity: 0.5;
  color: white;
}

button[type="submit"]:hover {
  opacity: 1;
}

input[type="search"]:focus {
  border: none;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.no-result {
  color: white;
  margin: 16px 0 0 5%;
}
