.movie-container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bg-black {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 16px;
}

h1 {
  padding-bottom: 16px;
}

.movie-container img {
  border-radius: 10px;
}

.flex {
  gap: 24px;
}

.movie-details-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.poster-details-container {
  display: flex;
  gap: 16px;
}

.actors-container {
  display: flex;
  gap: 16px;
  overflow-x: scroll;
}

.genres {
  display: flex;
  gap: 8px;
}

.genre {
  border: 1px solid #bbb;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2px 6px;
  color: white;
  border-radius: 5px;
  font-size: 12px;
}

.actor-img{
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .poster-details-container {
    flex-direction: column;
  }

  .poster-details-container img {
    width: 50%;
    object-fit: contain;
    margin: auto;
  }

  .genres {
    margin: auto;
  }

  h1 {
    text-align: center;
  }
}
